@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {

    /* ## Colors */

    /* ### Primary */

    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);

    /* ### Neutral */

    --Dark-gray: hsl(0, 0%, 59%);

    /* ### Body Copy */
    /* name and stats */

    --Font-size: 18px;

    /* ### Font */

    --Family: 'Kumbh Sans', sans-serif;
    --Weights-1: 400;
    --Weights-2: 700;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--Family);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: var(--Dark-cyan);
    background-image: 
        url(/images/bg-pattern-top.svg), 
        url(/images/bg-pattern-bottom.svg);
    background-position: 
        top left,
        bottom right;
    background-repeat: 
        no-repeat;
    background-size: 
        650px,
        1000px;
    background-position: 
        top -280px left -20px,
        bottom -700px right -300px;
    transition: all 1s ease;


}


.attribution { 
    position: absolute;
        font-size: 11px;
        text-align: center;
        bottom: 1rem;
}


.attribution a { 
    color: hsl(228, 45%, 44%);
}

.profile-image-card {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    margin: 100px 0 10px 0;
}

.profile-image-card .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    
}

.profile-card .data-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10 0px;
}

.data-text .name {
    font-size: 22px;
    font-weight: var(--Weights-2);
    color: var(--Very-dark-desaturated-blue);
    padding: 10px 0;

}

.data-text .name .age {
    font-weight: var(--Weights-1);
    color: var(--Dark-grayish-blue);
}

.data-text .resident {
    color: var(--Dark-grayish-blue);
    font-size: 15px;
    font-weight: var(--Weights-1);

}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
    width: 100%;
    height: 380px;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    /* padding: 25px 0 0 0 ; */
    position: relative;
}


.profile-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 38%;
    width: 100%;
    border-radius: 15px 15px 0 0;
    background-image: url(/images/bg-pattern-card.svg);
}


.profile-card .analytics {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
    padding: 20px 0;
    border-top: 1px solid hsla(0, 0%, 59%, 0.5);
    max-width: 360px;
    width: 100%;
}

.analytics .analytics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.analytics .analytics-container .numbers {
    font-size: 22px;
    font-weight: var(--Weights-2);
    color: var(--Very-dark-desaturated-blue);
}

.analytics .analytics-container .label {
    color: var(--Dark-grayish-blue);
    font-size: 12px;
    font-weight: var(--Weights-1);
}




@media (max-width:991px) {
    body {
        background-position: 
            top -390px left -90px,
            bottom -700px right -400px;
        transition: all 1s ease;
    
    }
    
}

@media (max-width:775px) {
    body {
        background-position: 
            top -450px left -250px,
            bottom -800px right -500px;
        transition: all 1s ease;
    
    }
    
}

@media (max-width:450px) {
    body {
        background-position: 
            top -450px left -400px,
            bottom -500px right -800px;
        transition: all 1s ease;
    
    }
    
}


















